.click {
	width: 140px;
}

.table-new,
.table {
	width: 647px;
}

.input-field-head,
.input-field,
.input-row {
	border: none;
}

.div-search {
	width: 100%;
margin-left: 150px;	
}

.div-for-table {
	margin-top: 20px;
}

.title-table {
	margin-bottom: 20px;
}

.search {
	width: 200px;
	height: 25px;
	border: black 1px solid;
}

.select {
	height: 28px;
	width: 160px;
	border: none;
	border-bottom: black 1px solid;
}

.input-field {
	margin-right: 4px;
	margin-left: 1px;
	background-color: rgb(202, 198, 198);
}

.btn {
	margin-left: 9px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 60px;
	height: 18px;
}

.btn-search {
	margin: -70px;
	padding-top: 0px;
	margin-right: 10px;
	width: 60px;
	height: 18px;
}

.btn-add {
	margin-left: 40px;
	color: red;
}

.input-back-color {
	margin-right: 4px;
	margin-left: 1px;
	background-color: rgb(197, 193, 193);
	border: none;
}

input:disabled {
	color: black;
	background-color: white;
}
